# User-defined variables

## Install REC (Redis Enterprise Cluster)
INSTALL_K8S_CONTEXTS=("<cluster-1-k8s-context-name>" "<cluster-2-k8s-context-name>")
REGION=("cacentral" "useast")
INSTALL_NAMESPACE=redis

## Create REAADB (Redis Enterprise Active-Active Database)
REAADB_NAME=reaadb-testdb
REAADB_PORT=11069

## Testing Redis HA
### Takedown REC (Put Redis pods and database and into recovery mode for HA testing) and Recover DB (Restore the database from recovery mode)
TARGET_K8S_CONTEXTS=("<target-k8s-context-name>")


# Unused variables/for future use
# AC_LABEL_KEY=namespace-name
# AC_LABEL_VALUE=redis