# User-defined variables

# REC (Redis Enterprise Cluster)
INSTALL_K8S_CONTEXTS=("<K8s-context-name-1>" "<K8s-context-name-2>")
REGION=("ca-central" "us-east")
INSTALL_NAMESPACE=redis
REC_NAMES=("rec-ca-central" "rec-us-east")
REC_POD_REPLICA_COUNT=3

# RERC (Redis Enterprise Remote Cluster) objects
RERC_NAMES=("rerc-ca-central" "rerc-us-east")

# Create REAADB (Redis Enterprise Active-Active Database)
REAADB_NAME=reaadb-testdb
REAADB_PORT=11069



# Unused variables/for future use
# AC_LABEL_KEY=namespace-name
# AC_LABEL_VALUE=redis